/* tag selectors */
body {
  font-family: 'Montserrat';
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
  line-height: 1.5;
}
/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
/* ID Selectors */
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
#features {
  padding: 12% 12%;
  background-color: #fff;
  position: relative;
}
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
#pricing {
  padding: 100px;
}
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 5% 0;
}
#footer {
  background-color: #fff;
  padding: 3% 3% 0;
}
/* Class Selectors */
/* Title Section */
.container-fluid {
  padding: 3% 15% 7%;
}
.navbar-brand {
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 2.5rem;
}
.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .iphone {
    position: static;
    transform: rotate(0);
  }
 }
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
/* Testimonials */
.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
/* Features Section */
.icon {
  font-size: 9rem;
  margin: 6% 4% 6% 6%;
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}
/* Footer Section */
.footer-icon {
  color: #000;
  padding: 1%;
}
.copyright-text {
  font-size: 0.5rem;
}
.pricing-column {
  padding: 3% 2%;
}
.carousel-item {
    padding: 7% 12%;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.press-logo {
  width: 15%;
  margin: 20px 15px 50px;
}
